.canvas-container {
  width: 100vw;
  height: 60vh;
}

.heading {
  color: white;
  font-size: 13rem;
  letter-spacing: 13px;
  text-align: center;
  font-weight: 900;
  z-index: 2;
  visibility: hidden;
  transform: translate(-50%, -50%);
}

/* Mobile view styles */
@media (max-width: 768px) {
  .heading {
    font-size: 90px;
  }
}

.zoom-button {
  text-align: center;
  color: white;
  opacity: 0.7;
  z-index: 5;
  cursor: pointer;
  position: absolute;
  top: 68%; 
  left: 50%; 
  will-change: transform;
  transform: translate(-50%, -50%);
  animation: fade 3s ease-in-out infinite;
}

.zoom-button:hover {
  animation-play-state: paused;
  opacity: 1 !important;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.5;
  }
  78% {
    opacity: 0.8;
  }
  89% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}
