
.project-cover,
.box-cover{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.gradient-bg{
    background: linear-gradient(to right, #000000, #0000ff);
 }
 .flip-container {
    perspective: 1000px;
  }
  
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }
  
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    z-index: 2;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
::-webkit-scrollbar{
    width: 0px;
 }